<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.socket9.tsl">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:name=".Application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".EntryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_sign_in">

        </activity>
        <activity
            android:name=".CreateAccountActivity"
            android:label="@string/title_activity_create_account" />

        <activity
            android:name=".NewsEventActivity"
            android:label="@string/title_activity_news_event" />

        <activity
            android:name=".BranchDetailActivity"
            android:label="@string/title_activity_place_detail" />

        <activity
            android:name=".MyProfileActivity"
            android:label="@string/title_activity_my_profile"
            android:windowSoftInputMode="stateHidden" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google.maps.key" />

        <meta-data
            android:name="com.socket9.tsl.Utils.GlideConfiguration"
            android:value="GlideModule" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

    </application>

</manifest>
